<html>
<head>
    <title> The A Journey</title>

</head>
<style>
    h1{
    text-align:center;
    background-color: powderblue;
    }
    p{
    color:green;
    }
    body{
    background-color:pink;
    }




</style>
<body>
{% with messages = get_flashed_messages() %}
{% if messages %}
{% for msg in messages %}
<p>{{ msg }}</p>
{%endfor%}
{%endif%}
{%endwith%}

<a href="/home">home</a>
<br><a href="/logout">logout</a>
<br><br><br><hr><br><br>
<!-- body -->
<form action="#" method="post">
    <input type='text' name="names" placeholder="FULL NAMES"><br>
    <input name="password" type="password" placeholder="password"><br>
    <input value="submit" type="submit">
</form>

</body>
</html>












